@inherits LayoutComponentBase

<RadzenLayout>
    <NavMenu />
    <RadzenBody Style="overflow: hidden; color: var(--rz-text-color)">
        @Body
    </RadzenBody>
</RadzenLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<RadzenComponents />

