@inherits LayoutComponentBase

<RadzenLayout>
    <NavMenu />
    <RadzenBody class="body-view">
        @Body
    </RadzenBody>
</RadzenLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<RadzenComponents />

<style>
    .body-view {
        color: var(--rz-text-color);
        --body-height: calc(100vh - var(--rz-header-min-height)); 
    }
</style>