@page "/hall/{hallId:guid}"

@using System.Text.Json
@using CinemaBooking.Web.Dtos
@using CinemaBooking.Web.Services

@inject IDbContextFactory<CinemaDbContext> DbFactory
@inject HallService HallViewService
@inject IToastService ToastService
@inject DialogService DialogService

<div class="d-flex flex-column vh-100 gap-1">
    @foreach (var seatRow in hallForView?.SeatsRows ?? [])
    {
        <div class="d-flex flex-row gap-1">
            @foreach (var seat in seatRow.Seats)
            {
                <div class="seat" style="@GetStyleForSeat(seat)" @onclick="() => OpenReservationDialogAsync(seat)">
                    @seat.SeatNumber
                    <div>
                        @if (seat.IsForDisabled)
                        {
                            <i class="fa-solid fa-wheelchair"></i>
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>

<RadzenButton>Button</RadzenButton>

@code {
    [Parameter]
    public Guid HallId { get; set; }

    HallForView? hallForView;

    protected override async Task OnInitializedAsync()
    {
        var hallForViewResult = await HallViewService.GetHallViewAsync(HallId);
        hallForView = hallForViewResult.Match(
            h => h,
            e =>
            {
                ToastService.ShowError("Error");
                return default!;
            }
        );
    }

    Task OpenReservationDialogAsync(SeatForView seat) =>
        DialogService.OpenAsync<AddReservationDialog>(
            "Add reservation", 
            new Dictionary<string, object>() {["Seat"] = seat},
            new DialogOptions() { Width = "700px", Height = "500px", Resizable = true, Draggable = true });

    string GetStyleForSeat(SeatForView seatForView) =>
        $"height: 50px; width: 50px;";
}
