@page "/hall/{hallId:guid}"
@using System.Text.Json
@using CinemaBooking.Web.Dtos
@using CinemaBooking.Web.Services

@inject IDbContextFactory<CinemaDbContext> DbFactory
@inject HallViewService HallViewService
@inject IToastService ToastService

<div class="d-flex flex-column vh-100 gap-1">
    @foreach (var seatRow in hallForView?.SeatsRows ?? [])
    {
        <div class="d-flex flex-row gap-1">
            @foreach (var seat in seatRow.Seats)
            {
                <div class="seat" style="@GetStyleForSeat(seat)" onclick="document.getElementById('my-dialog').showModal()">
                    @seat.SeatNumber
                    <div>
                        @if (seat.IsForDisabled)
                        {
                            <i class="fa-solid fa-wheelchair"></i>
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>

<dialog id="my-dialog">
    <p>Hi there!</p>

    <form method="dialog">
        <button>Close</button>
    </form>
</dialog>

@code {
    [Parameter]
    public Guid HallId { get; set; }

    HallForView? hallForView;

    protected override async Task OnInitializedAsync()
    {
        var hallForViewResult = await HallViewService.GetHallViewAsync(HallId);
        hallForView = hallForViewResult.Match(
            h => h,
            e =>
            {
                ToastService.ShowError("Error");
                return default!;
            }
        );
    }

    string GetStyleForSeat(SeatForView seatForView) =>
        $"height: 50px; width: 50px;";
}
