@using System.Text.Json
@using CinemaBooking.Web.Db.Entitites
@using CinemaBooking.Web.Dtos
@using CinemaBooking.Web.Extensions
@using CinemaBooking.Web.Services
@using Microsoft.Extensions.Localization

@inject IDbContextFactory<CinemaDbContext> DbFactory
@inject HallService HallViewService
@inject NotificationService NotificationService
@inject DialogService DialogService
@inject IStringLocalizer<HallPage> Loc

@if (screeningChoosen)
{
    if (loading)
    {
        <div class="d-flex justify-content-center align-items-center h-100">
            <RadzenProgressBarCircular ProgressBarStyle="ProgressBarStyle.Info" Value="100" ShowValue="false"
                                       Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.Large" />
        </div>
    }
    else
    {
        <div class="d-flex flex-column hall-view">
            <div class="hall-name">
                <RadzenText Style="color: var(--rz-series-8)" TextStyle="TextStyle.H3">@Loc["Hall"]: @hallForView?.Name</RadzenText>
                <RadzenText Style="color: var(--rz-series-8)" TextStyle="TextStyle.H3">@Loc["Screening"]: @Screening?.Name</RadzenText>
            </div>
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="hall-display">
                    <div class="d-flex flex-column gap-1" style="width: fit-content">
                        @foreach (var seatRow in hallForView?.SeatsRows ?? [])
                        {
                            <div class="d-flex flex-row gap-1">
                                @foreach (var seat in seatRow.Seats)
                                {
                                    <div class="@GetClassForSeat(seat)" @onclick="() => OpenReservationDialogAsync(seat)">
                                        <RadzenText TextStyle="TextStyle.H6" Style="color: white;">@seat.SeatNumber</RadzenText>
                                        <div>
                                            @if (seat.IsForDisabled)
                                            {
                                                <i class="fa-solid fa-wheelchair"></i>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}


<style>
    :root {
    }

    .hall-view {
        --hall-view-size: calc(var(--body-height) - var(--rz-layout-body-padding) * 2 - var(--rz-card-padding) * 2);
        --screening-props-size: 4rem;
        --hall-display-size: calc(var(--hall-view-size) - var(--screening-props-size));
        height: var(--hall-view-size);
    }

    .hall-name {
        height: var(--screening-props-size);
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-inline: 2rem
    }

    .hall-prop {
        border: 2px solid var(--rz-color-primary-darker);
        border-radius: 1rem;
        width: fit-content;
    }

    .hall-display {
        max-height: var(--hall-display-size);
        display: flex;
        overflow: auto;
    }
</style>
@code {
    [Parameter]
    public Screening? Screening { get; set; }

    HallForView? hallForView;
    Screening screening = null!;
    bool screeningChoosen;
    bool loading;

    protected override async Task OnParametersSetAsync()
    {
        if (Screening is null)
        {
            screeningChoosen = false;
            return;
        }
        screening = Screening;
        screeningChoosen = true;
        await GetHallViewAsync();
    }

    async Task GetHallViewAsync()
    {
        loading = true;
        try
        {
            var hallForViewResult = await HallViewService.GetHallViewAsync(screening.Id);
            hallForView = hallForViewResult.Match(
            h => h,
            e =>
            {
                NotificationService.NotifyError(Loc["GetHallViewErrorMessage"]);
                return default!;
            }
            );
        }
        finally
        {
            loading = false;
        }
    }

    async Task OpenReservationDialogAsync(SeatForView seat)
    {
        var dialogTitle = seat.Reservation is null ? Loc["AddReservation"] : Loc["ModifyReservation"];
        var screeningModified = (bool?)await DialogService.OpenAsync<AddReservationPage>(
            dialogTitle,
            new Dictionary<string, object>()
                {
                    ["Seat"] = seat,
                    ["ScreeningId"] = screening.Id,
                    ["ReservationForView"] = seat.Reservation!
                },
            new DialogOptions() { Width = "500px", Height = "fit-contnent", Resizable = true, Draggable = true, ShowClose = false });

        if (screeningModified == true)
        {
            await GetHallViewAsync();
        }
    }

    string GetClassForSeat(SeatForView seatForView) =>
    $"seat {(seatForView.Reservation is null ? "free" : "booked")} rz-ripple";
}
