.seat {
    width: 70px;
    height: 70px;
    position: relative;
    text-align: center;
    color: white;
    align-content: center;
    cursor: pointer;
}

.seat:hover {
    box-shadow: var(--rz-shadow-6);
}

.seat div{
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 4px 0 4px;    
}

.seat.free {
    background-color: var(--rz-series-1);
}

.seat.booked {
    background-color: var(--rz-base-400);
}