@page "/screenings"
@using CinemaBooking.Web.Db.Entitites
@inject ScreeningService ScreeningService

<h3>ScreeningsPage</h3>

<RadzenCard class="p-0">
    <RadzenStack Orientation="Orientation.Vertical" Gap="0px" JustifyContent="JustifyContent.Start" Style="height: 400px">
        <RadzenCard class="p-1 rz-background-color-info rz-color-on-info rz-text-align-center">
            A
        </RadzenCard>
        <RadzenCard class="p-1 rz-background-color-success rz-color-on-success rz-text-align-center" style="height: 40px; width: 40px;">
            B
        </RadzenCard>
        <RadzenCard class="p-1 rz-background-color-warning rz-color-on-warning rz-text-align-center" style="height: 60px; width: 60px;">
            C
        </RadzenCard>
        <RadzenCard class="p-1 rz-background-color-danger rz-color-on-danger rz-text-align-center" style="height: 80px; width: 80px;">
            D
        </RadzenCard>
    </RadzenStack>
</RadzenCard>

@code {
    List<Screening> screenings;

    protected override async Task OnInitializedAsync()
    {
        screenings = await ScreeningService.GetAllAsync();
    }
}
